{{ 'product-card.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-card.js' | asset_url }}" defer></script>

<style>
  .card{
      width: {{ settings.product_card_width }}px;
  } 
  .card__image__wrapper{
      flex: 0 0 {{ settings.product_image_height }}px;
  }
</style>

{% comment %}
  <product-card class="product-card">
  <div class="product-card__wrapper">
    <div class="product-card__image">
      <img
        src="
          {% if product.selected_or_first_available_variant.featured_image.size > 0 %}
               {{ product.selected_or_first_available_variant.featured_image | img_url: 'master' }}
               {% else %}
               {{ product.featured_image | img_url: 'master' }}
          {% endif %}
        "
        alt="{{ product.title }}"
      >
    </div>

    <div class="product-card__content">
      <div class="product-card__content_main">
        <span class="product-card__content_type">{{ product.type }}</span>
        <a href="{{ product.url }}" class="product-card__content_title">{{ product.title }}</a>
        {% render 'icon-stars' %}
        <span class="product-card__content_price">{{ product.selected_or_first_available_variant.price | money }}</span>
      </div>

      <div class="product-card__content_footer">
        <a href="{{ product.url }}" class="product-card__content_view btn-underline">view product</a>
        <button class="product-card__content_add">{% render 'icon-cart' %}</button>
      </div>
    </div>
  </div>
{% endcomment %}

<product-card class="card product-card">
  <div class="card__image__wrapper">
    <a href="{{ product.url }}" class="card__image">
      <img
        src="
          {% if product.selected_or_first_available_variant.featured_image.size > 0 %}
            {{ product.selected_or_first_available_variant.featured_image | img_url: 'master' }}
            {% else %}
            {{ product.featured_image | img_url: 'master' }}
          {% endif %}
        "
        alt="{{ product.title }}"
      >
    </a>
  </div>
  <div class="card__bottom">
    <div class="card__bottom__type">
      {{ product.type }}
    </div>
    <div class="card__bottom__price">
      {{ product.selected_or_first_available_variant.price | money }}
    </div>
    <a href="{{ product.url }}" class="card__bottom__title">{{ product.title }}</a>
    <div class="card__bottom__rating">
      {% render 'icon-stars' %}
    </div>
    <!-- Кнопка добавить в корзину -->
    <button class="product-card__content_add">Add to card</button>
  </div>
  {% form 'product', product %}
    <input type="number" name="quantity" min="1" value="1" id="product-quantity">
    <select name="id" id="variant-select">
      {% for variant in product.variants %}
        <option
          value="{{ variant.id }}"
          {% if variant == product.selected_or_first_available_variant %}
            selected="selected"
          {% endif %}
        >
          {{ variant.title }} - {{ variant.price | money }}
        </option>
      {% endfor %}
    </select>

    <input type="submit" value="Add to cart">
  {% endform %}
</product-card>
