{{ 'section-featured-products.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-{{ section.id }} {
      background: {{ section.settings.bg_color }};
      margin-top: {{ section.settings.margin_top_desktop }}px;
      margin-bottom: {{ section.settings.margin_bottom_desktop }}px;
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
  }

  #shopify-section-{{ section.id }} .s-featured-products__content_title * {
      color: {{ section.settings.title_color }};
      font-size: {{ section.settings.title_font_size_desktop }}px;
  }

  #shopify-section-{{ section.id }} .s-featured-products__content_subtitle{
      color: {{ section.settings.subtitle_color }};
  }

  #shopify-section-{{ section.id }} .s-featured-products__content{
      text-align: {{ section.settings.text_align }};
      max-width: {{ section.settings.content_width }}px;
  }

  #shopify-section-{{ section.id }} .s-featured-products {
      max-width: {{ section.settings.container_width }}px;
  }


  #shopify-section-{{ section.id }} .s-featured-products__content_btn {
      color: {{ section.settings.btn_text_color }};
  }

  #shopify-section-{{ section.id }} .s-featured-products__content_btn--underline:before {
      background-color: {{ section.settings.btn_text_color }};
  }

  #shopify-section-{{ section.id }} .s-featured-products__content_btn--fill {
      background-color: {{ section.settings.btn_bg_color }};
      color: {{ section.settings.btn_text_color }};
      border: 1px solid {{ section.settings.btn_bg_color }};
  }
  #shopify-section-{{ section.id }} .s-featured-products__content_btn--fill:hover {
      background-color: {{ section.settings.btn_text_color }};
      color: {{ section.settings.btn_bg_color }};
  }

  #shopify-section-{{ section.id }} .s-featured-products__content_btn--normal {
      background-color: {{ section.settings.bg_color }};
      color: {{ section.settings.btn_text_color }};
      border: 1px solid {{ section.settings.btn_text_color }};
  }
  #shopify-section-{{ section.id }} .s-featured-products__content_btn--normal:hover {
      background-color: {{ section.settings.btn_text_color }};
      color: {{ section.settings.bg_color }};
  }
  @media (max-width: 1200px) {
      #shopify-section-{{ section.id }} .s-featured-products{
          justify-content: {{ section.settings.content_position_mobile }};
      }

      #shopify-section-{{ section.id }} .s-featured-products__content{
          text-align: {{ section.settings.text_align_mobile }};
      }
  }
  @media (max-width: 600px) {
      #shopify-section-{{ section.id }} {
          margin-top: {{ section.settings.margin_top_mobile }}px;
          margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
          padding-top: {{ section.settings.padding_top_mobile }}px;
          padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
      }
      #shopify-section-{{ section.id }} .s-featured-products__content_title * {
        font-size: {{ section.settings.title_font_size_mobile }}px;
    }
  }
</style>

<section class="s-featured-products s-featured-products--{{ section.settings.content_position }}">
  <div class="s-featured-products__content">
    {% if section.settings.title %}
      <div class="s-featured-products__content_title">
        <h4>{{ section.settings.title }}</h4>
      </div>
    {% endif %}
    {% if section.settings.subtitle %}
      <div class="s-featured-products__content_subtitle">
        <p>{{ section.settings.subtitle }}</p>
      </div>
    {% endif %}
    {% if section.settings.btn_name %}
      <a
        href="{{ section.settings.btn_link }}"
        class="s-featured-products__content_btn s-featured-products__content_btn--{{ section.settings.btn_style }}"
      >
        {{- section.settings.btn_name -}}
      </a>
    {% endif %}
  </div>
  <div class="s-featured-products__row">
    {% for block in section.blocks %}
      {%- assign product = block.settings -%}
      <div class="s-featured-products__row_product">
        {% if product.product_link %}
          <a href="{{ product.product_link }}">
        {% endif %}
        <img src="{{ product.product_image | img_url: 'master' }}" class="s-featured-products__row_product_img">
        <img
          src="{{ product.product_image_hover | img_url: 'master' }}"
          class="s-featured-products__row_product_img s-featured-products__row_product_img--hover"
        >
        {% if product.product_link %}
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "margin_top_desktop",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Margin top desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Margin top mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_desktop",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Margin bottom desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Margin bottom mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Padding top desktop",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Padding top mobile",
      "default": 35
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Padding bottom desktop ",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Padding bottom mobile",
      "default": 35
    },
    {
      "type": "range",
      "id": "container_width",
      "min": 800,
      "max": 1800,
      "step": 10,
      "label": "Container width",
      "default": 1300
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 600,
      "max": 1600,
      "step": 10,
      "label": "Content Width",
      "default": 740
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Content Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "content_position_mobile",
      "label": "Content Position Mobile",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "text_alignment",
      "id": "text_align",
      "label": "Text alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "text_align_mobile",
      "label": "Text alignment mobile",
      "default": "center"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "range",
      "id": "title_font_size_desktop",
      "min": 10,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Title font size desktop",
      "default": 26
    },
    {
      "type": "range",
      "id": "title_font_size_mobile",
      "min": 10,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Title font size mobile",
      "default": 22
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color",
      "default": "#000000"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "color",
      "id": "subtitle_color",
      "label": "Subtitle color",
      "default": "#000000"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "btn_name",
      "label": "Button name"
    },
    {
      "type": "select",
      "id": "btn_style",
      "label": "Button style",
      "options": [
        {
          "value": "underline",
          "label": "Underline"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "fill",
          "label": "Fill"
        }
      ],
      "default": "underline"
    },
    {
      "type": "color",
      "id": "btn_text_color",
      "label": "Button text color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "btn_bg_color",
      "label": "Button background color",
      "default": "#FFFFFF"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "product_item",
      "name": "Product Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image",
          "info": "Size Recommended 250x300"
        },
        {
          "type": "image_picker",
          "id": "product_image_hover",
          "label": "Product Image Hover",
          "info": "Size Recommended 250x300"
        },
        {
          "type": "url",
          "id": "product_link",
          "label": "Product Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
