{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-image-banner.js' | asset_url }}" defer></script>

<style>
  #shopify-section-{{ section.id }} .s-image-banner {
      margin-top: {{ section.settings.margin_top_desktop }}px;
      margin-bottom: {{ section.settings.margin_bottom_desktop }}px;
  }

  #shopify-section-{{ section.id }} .s-image-banner__wrapper_content {
      max-width: {{ section.settings.container_width }}px;
      min-height: {{ section.settings.desktop_height }}px;
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
      align-items: {{ section.settings.vertical_alignment }};
      justify-content: {{ section.settings.horizontal_alignment }};
      text-align: {{ section.settings.text_align }};
  }

  #shopify-section-{{ section.id }} .s-image-banner__content {
      max-width: {{ section.settings.content_width }}px;
  }

  @media (max-width: 600px) {
      #shopify-section-{{ section.id }} .s-image-banner {
          margin-top: {{ section.settings.margin_top_mobile }}px;
          margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
      }

      #shopify-section-{{ section.id }} .s-image-banner__wrapper_content {
          min-height: {{ section.settings.mobile_height }}px;
          padding-top: {{ section.settings.padding_top_mobile }}px;
          padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
          align-items: {{ section.settings.vertical_alignment_mobile }};
          justify-content: {{ section.settings.horizontal_alignment_mobile }};
          text-align: {{ section.settings.text_align_mobile }};
      }
  }
</style>

{% for block in section.blocks %}
  {% assign banner = block.settings %}
  <style>
    #shopify-section-{{ section.id }} .s-image-banner__wrapper_{{ forloop.index }} img {
          filter: brightness({% if banner.img_brightness  == 0 %}1{% else %} 0.{{banner.img_brightness | minus: 9 | abs}} {% endif %});
      }
    #shopify-section-{{ section.id }} .s-image-banner__wrapper_{{ forloop.index }} .s-image-banner__content_title h2 {
          color: {{ banner.title_color }};
      }

      #shopify-section-{{ section.id }} .s-image-banner__wrapper_{{ forloop.index }} .s-image-banner__content_subtitle {
          color: {{ banner.subtitle_color }};
      }

      #shopify-section-{{ section.id }}  .s-image-banner__wrapper_{{ forloop.index }} .s-image-banner__content_btn {
          color: {{ banner.btn_color }};
      }
      #shopify-section-{{ section.id }}  .s-image-banner__wrapper_{{ forloop.index }} .s-image-banner__content_btn--underline::before {
          background-color: {{ banner.btn_color }};
      }
  </style>
{% endfor %}

{% if section.settings.auto_play == true %}
  {% assign speedSlider = section.settings.auto_play_speed %}
{% else %}
  {% assign speedSlider = false %}
{% endif %}

{% if section.blocks.size > 1 %}
  {% assign dataDots = true %}
{% else %}
  {% assign dataDots = false %}
{% endif %}

<image-banner data-speed="{{ speedSlider }}" data-dots="{{ dataDots }}">
  <section class="s-image-banner">
    {% for block in section.blocks %}
      {%- assign banner = block.settings -%}
      <div class="s-image-banner__wrapper s-image-banner__wrapper_{{ forloop.index }}">
        {% if banner.btn_link %}
          <a href="{{ banner.btn_link }}">
        {% endif %}
        <img
          src="{{ banner.desktop_image | img_url: 'master' }}"
          alt="{{ banner.title }}"
          class="s-image-banner__image"
        >
        <img
          src="{{ banner.mobile_image | img_url: 'master' }}"
          alt="{{ banner.title }}"
          class="s-image-banner__image s-image-banner__image--sm"
        >
        {% if banner.btn_link %}
          </a>
        {% endif %}
        {% if banner.title or banner.subtitle %}
          <div class="s-image-banner__wrapper_content">
            <div class="s-image-banner__content">
              {% if banner.title %}
                <div class="s-image-banner__content_title">
                  <h2>{{ banner.title }}</h2>
                </div>
              {% endif %}
              {% if banner.subtitle %}
                <div class="s-image-banner__content_subtitle">
                  <p>{{ banner.subtitle }}</p>
                </div>
              {% endif %}
              {% if banner.btn_name %}
                <a
                  href="{{ banner.btn_link }}"
                  class="s-image-banner__content_btn s-image-banner__content_btn--{{ banner.btn_style }}"
                >
                  {{ banner.btn_name }}
                </a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </section>
</image-banner>

{% schema %}
{
  "name": "Image banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "range",
      "id": "container_width",
      "min": 800,
      "max": 1800,
      "step": 10,
      "label": "Container width",
      "default": 1300
    },
    {
      "type": "range",
      "id": "margin_top_desktop",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Margin top desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Margin top mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_desktop",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Margin bottom desktop",
      "default": 50
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Margin bottom mobile",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Padding top desktop",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Padding top mobile",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Padding bottom desktop ",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 150,
      "step": 5,
      "label": "Padding bottom mobile",
      "default": 50
    },
    {
      "type": "checkbox",
      "id": "auto_play",
      "label": "AutoPlay",
      "default": true
    },
    {
      "type": "range",
      "id": "auto_play_speed",
      "min": 2000,
      "max": 9000,
      "step": 100,
      "label": "Autoplay speed",
      "default": 3000
    },
    {
      "type": "range",
      "id": "desktop_height",
      "min": 300,
      "max": 1500,
      "step": 50,
      "label": "Desktop minHeight",
      "default": 750
    },
    {
      "type": "range",
      "id": "mobile_height",
      "min": 300,
      "max": 800,
      "step": 10,
      "label": "Mobile minHeight",
      "default": 400
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 200,
      "max": 1200,
      "step": 10,
      "label": "Content width",
      "default": 600
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "Vertical alignment",
      "options": [
        {
          "value": "start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "vertical_alignment_mobile",
      "label": "Vertical alignment mobile",
      "options": [
        {
          "value": "start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Bottom"
        }
      ],
      "default": "end"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "Horizontal alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "horizontal_alignment_mobile",
      "label": "Horizontal alignment mobile",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text Align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "text_align_mobile",
      "label": "Text align mobile",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    }
  ],
  "blocks": [
    {
      "type": "banner_item",
      "name": "Banner item",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop image",
          "info": "Size recommended 1920x850"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "Size recommended 400x600"
        },
        {
          "type": "url",
          "id": "banner_link",
          "label": "Banner Link",
          "info": "Optional"
        },
        {
          "type": "range",
          "id": "img_brightness",
          "min": 0,
          "max": 9,
          "step": 1,
          "label": "Image brightness",
          "default": 0
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title color",
          "default": "#FFFFFF"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "color",
          "id": "subtitle_color",
          "label": "Subtitle color",
          "default": "#FFFFFF"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "btn_name",
          "label": "Button name"
        },
        {
          "type": "select",
          "id": "btn_style",
          "label": "Button style",
          "options": [
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "normal",
              "label": "Normal"
            }
          ],
          "default": "underline"
        },
        {
          "type": "color",
          "id": "btn_color",
          "label": "Button color",
          "default": "#FFFFFF"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Banner"
    }
  ]
}
{% endschema %}
