{{ 'section-search.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-search.js' | asset_url }}" defer></script>

<script>

</script>

<search-main class="search-main">
  <div class="container">
    <form action="{{ routes.search_url }}">
      <input type="text"
             placeholder="Search"
             name="q"
             value="{{ search.terms | escape }}"
      >
      <input type="submit" value="Search">
    </form>

    <div class="search-main__results">
      {% for item in search.results %}
        <h2>{{ item.title }}</h2>
       <script>
         console.log({{ item | json }})
       </script>
      {% endfor %}
    </div>
  </div>
</search-main>


{% schema %}
{
  "name": "Main search",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section settings"
    }
  ]
}
{% endschema %}