{{ 'main-collection.css' | asset_url | stylesheet_tag }}
<script src="{{ 'main-collection.js' | asset_url }}" defer></script>

<main-collection class="main-collection">
  <div class="container">
    <div class="main-collection__wrapper">
      <div class="main-collection__title">
        <h3>{{ collection.title }}</h3>
      </div>
    </div>

    <div>
      <h3>sort filter test</h3>
      {% if collection.all_tags %}
        <ul class="tag-filters">
          {% for tag in collection.all_tags %}
            {% if current_tags contains tag %}
              <li class="tag-filters__item active">{{ tag | link_to_remove_tag: tag }}</li>
            {% else %}
              <li class="tag-filters__item">{{ tag | link_to_add_tag: tag }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>


    <select id="sort-by">
      {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

      {% for option in collection.sort_options %}
        <option
          value="{{ option.value }}"
          {% if option.value == sort_by %}
            selected="selected"
          {% endif %}
        >
          {{ option.name }}
        </option>
      {% endfor %}
    </select>

    {% paginate collection.products by section.settings.count_products %}
      <div class="main-collection__products row">
        {% for product in collection.products %}
          <div class="main-collection__product">
            {% render 'product-card', product: product %}
          </div>
        {% endfor %}
      </div>
      {{ paginate | default_pagination }}
    {% endpaginate %}
  </div>
</main-collection>

{% schema %}
{
  "name": "Collection",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "text_alignment",
      "id": "text_align",
      "label": "Text alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "text_align_mobile",
      "label": "Text alignment mobile",
      "default": "center"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "subtitle_color",
      "label": "Subtitle color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "count_products",
      "label": "Count products on page",
      "min": 6,
      "max": 30,
      "step": 1,
      "default": 6
    }
  ]
}
{% endschema %}
